@prefix fuseki:  <http://jena.apache.org/fuseki#> .
@prefix rdf:     <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs:    <http://www.w3.org/2000/01/rdf-schema#> .
@prefix tdb:     <http://jena.hpl.hp.com/2008/tdb#> .
@prefix tdb2:    <http://jena.apache.org/2016/tdb#> .
@prefix text:    <http://jena.apache.org/text#> .
@prefix ja:      <http://jena.hpl.hp.com/2005/11/Assembler#> .
@prefix spatial: <http://jena.apache.org/spatial#> .
@prefix :        <#> .

{% if item.dataset_type is undefined or item.dataset_type == 'tdb2' %}
 {% set dataset_rdf_type = 'tdb2:DatasetTDB2' %}
 {% set dataset_location_predicate = 'tdb2:location' %}
{% endif %}

{% if item.dataset_type is defined and item.dataset_type == 'tdb' %}
 {% set dataset_rdf_type = 'tdb:DatasetTDB' %}
 {% set dataset_location_predicate = 'tdb:location' %}
{% endif %}

{{ item.prefix | default('') }}

{{  item.extra_conf | default('') }}

<#service> rdf:type fuseki:Service ;
    fuseki:name "{{ item.name }}" ;
    fuseki:serviceQuery "query" ;
{% if item.lucene | default(false) | bool == false %}
    fuseki:dataset <#dataset> ;
{% else %}
    fuseki:dataset <#text_dataset> ;
{% endif %}
   
{% if item.read_write|default(false) %}
#    fuseki:serviceUpdate "update" ;
#    fuseki:serviceUpload "upload" ;
    fuseki:serviceReadWriteGraphStore "data" ;
{% elif item.read_graph_store|default(true) %}
    fuseki:serviceReadGraphStore "data" ;
{% endif %}
    .

{% if item.lucene | default(false) | bool %}

<#service2> rdf:type fuseki:Service ;
    fuseki:name "{{ item.name }}_write" ;
    fuseki:dataset <#dataset> ;
    fuseki:serviceReadWriteGraphStore "data" ;
    .
{% endif %}

{% if item.lucene | default(false) | bool %}
<#text_dataset> rdf:type text:TextDataset ;
   text:dataset <#dataset> ;
   text:index <#text_index> ;
.
<#text_index> a text:TextIndexLucene ;
    text:directory <{{ fuseki_base }}/databases/{{ item.name }}/Lucene> ;
    text:entityMap <#entMap> ;
.
<#entMap> a text:EntityMap ;
    {{ item.entity_map }}
.
{% endif %}

{% if item.spatial | default(false) | bool %}
<#spatial_dataset> rdf:type spatial:SpatialDataset ;
   spatial:dataset   <#dataset> ;
   spatial:index <#spatial_index> ;
.

{% endif %}

{# both spatial and text #}
{% if item.spatialtext | default(false) | bool %}
{# todo @implement from https://git.app.uib.no/snippets/118 #}
.
{% endif %}

{% if item.spatial | default (false) or item.spatialtext | default(false) %}

<#spatial_index> a spatial:SpatialIndexLucene ;
  spatial:directory <{{ fuseki_base }}/databases/{{ item.name }}/Lucene-geo> ;
  spatial:definition <#spatial_definition>
.

<#spatial_definition> a spatial:EntityDefinition ;   spatial:entityField      "uri" ;   spatial:geoField     "geo"   .

{% endif %}

<#dataset> rdf:type {{ dataset_rdf_type }} ;
   {{ dataset_location_predicate }} "{{ fuseki_base }}/databases/{{ item.name }}" ;
{% if item.union_default_graph|default(true) %}
    tdb:unionDefaultGraph true ;
{% endif %}
    .
