@prefix fuseki:  <http://jena.apache.org/fuseki#> .
@prefix rdf:     <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs:    <http://www.w3.org/2000/01/rdf-schema#> .
@prefix tdb:     <http://jena.hpl.hp.com/2008/tdb#> .
@prefix tdb2:    <http://jena.apache.org/2016/tdb#> .
@prefix text:    <http://jena.apache.org/text#> .
@prefix ja:      <http://jena.hpl.hp.com/2005/11/Assembler#> .
PREFIX geosparql: <http://jena.apache.org/geosparql#>
@prefix se: <http://jena.apache.org/service-enhancer#> .
@prefix :        <#> .

{% if item.dataset_type is undefined or item.dataset_type == 'tdb2' %}
  {% set dataset_rdf_type = 'tdb2:DatasetTDB2' %}
  {% set dataset_location_predicate = 'tdb2:location' %}
  {% set dataset_tdb_prefix = 'tdb2' %}
{% endif %}

{% if item.dataset_type is defined and item.dataset_type == 'tdb' %}
  {% set dataset_rdf_type = 'tdb:DatasetTDB' %}
  {% set dataset_location_predicate = 'tdb:location' %}
  {% set dataset_tdb_prefix = 'tdb' %}
{% endif %}

{% set dataset_predicate = 'fuseki:dataset' %}
{% if item.service_enhancer | default (false) | bool %}
  {% set dataset_uri = '<#service-enhancer-dataset>' %}
{% elif item.lucene | default (false) | bool %}
  {% set dataset_uri = '<#text_dataset>' %}
{% elif item.geosparql | default (false) | bool %}
  {% set dataset_uri = '<#geo_dataset>' %}
{% else %}
  {% set dataset_uri = '<#dataset>' %}
{% endif %}

{{ item.prefix | default('') }}

{{  item.extra_conf | default('') }}

<#service> rdf:type fuseki:Service ;
    fuseki:name "{{ item.name }}" ;
    fuseki:serviceQuery "query" ;
{% if item.shacl | default(false) | bool %}
    fuseki:endpoint [ fuseki:operation fuseki:shacl ;
        fuseki:name "shacl" ];
{% endif %}
    {{ dataset_predicate }} {{ dataset_uri }} ;
    fuseki:serviceReadGraphStore "data" ;
    .

{% if item.read_write | default(false) | default(false) | bool %}

<#service2> rdf:type fuseki:Service ;
    fuseki:name "{{ item.name }}_write" ;
    fuseki:dataset <#dataset> ;
    fuseki:serviceUpdate "update" ;
    fuseki:serviceUpload "upload" ;
    fuseki:serviceReadWriteGraphStore "data" ;
    .
{% endif %}


{% if item.service_enhancer | default(false) | bool %}

 <#service-enhancer-dataset> rdf:type se:DatasetServiceEnhancer ;
  {% if item.lucene | default (false) | bool %}
    {% set dataset_uri = '<#text_dataset>' %}
  {% elif item.geosparql | default (false) | bool %}
    {% set dataset_uri = '<#geo_dataset>' %}
  {% else %}
    {% set dataset_uri = '<#dataset>' %}
  {% endif %}
  ja:baseDataset  {{ dataset_uri }} .
  
{% endif %}

{% if item.geosparql | default (false) | bool %}
  {% set dataset_uri = '<#geo_dataset>' %}
{% else %}
  {% set dataset_uri = '<#dataset>' %}
{% endif %}

{% if item.lucene | default (false) | bool %}
<#text_dataset> rdf:type text:TextDataset ;
   text:dataset {{ dataset_uri }} ;
   text:index <#text_index> ;
.
<#text_index> a text:TextIndexLucene ;
    text:directory <{{ fuseki_base }}/databases/{{ item.name }}/Lucene> ;
    text:entityMap <#entMap> ;
    {% if item.luceneStoreValues | default(false) | bool %}
    text:storeValues true;
    {% endif %}
.
<#entMap> a text:EntityMap ;
    {{ item.entity_map }}
.
{% endif %}

{% if item.geosparql | default (false) | bool %}

<#geo_dataset> a geosparql:geosparqlDataset ; ;
    geosparql:dataset
    geosparql:spatialIndexFile "{{ fuseki_base }}/databases/{{ item.name }}/DB/spatial.index";
    geosparql:dataset <#dataset> .


{% endif %}

<#dataset> rdf:type {{ dataset_rdf_type }} ;
   {{ dataset_location_predicate }} "{{ fuseki_base }}/databases/{{ item.name }}" ;
{% if item.union_default_graph|default(true) %}
    {{ dataset_tdb_prefix }}:unionDefaultGraph true ;
{% endif %}
.
